@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#04173b;
    --second-bg-color: #323946;
    --text-color: #fbb304;
    --text-color2: #ffffff;
    --main-color: rgb(255, 102, 0);

}

body {
    background: #842a4a;
    color: #ffffff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2)
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color2);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover ,
.navbar a.active{
    color: var(--main-color)
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    main-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {

    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.MI {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.MI-img img {
    width: 25vw;
}

.MI-content {
    display: flex;
    justify-content: space-between; /* Ajuste para separar el contenido y la imagen */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.MI-content .personal-info {
    max-width: 500px; /* Ajuste para limitar el ancho del bloque de información personal */
}

.MI-content h2 {
    font-size: 2rem;
}

.MI-content p {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.MI-content h2,
.MI-content h3 {
    color: #fbb304;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.proyectos-img img {
    width: 30vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.proyectos-content h2 {
    text-align: left;
    line-height: 1.2;
}
.proyectos-content h3 {
    font-size: 2.6rem;
}

.proyectos-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.proyectos-content pre {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tecnologias-img img {
    width: 30vw;
}

.tecnologias-content {
    max-width: 500px;
    margin-right: 2rem; 
}

.tecnologias-content h2 {
    font-size: 4rem;
}

.tecnologias-content p {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.tecnologias-content span {
    display: block;
    margin-bottom: 0.5rem;
}